<div class="grid-100 row controls">
  <div class="grid-30">

    <select ng-model="category" ng-change="getCategoryOfRecipes()">
      <option value="">All Categories</option>
      <option value ="{{cat.name}}" ng-repeat="cat in getCategory">{{cat.name}}</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      
      <button ng-click="addRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row">
  <div class="grid-70">
    <p ng-if="recipes.length == 0">No recipes found!</p>
  </div>
</div>


<div class="grid-100 row addHover" ng-repeat="rec in recipes">

  <a ng-href="#/edit/{{rec._id}}">
    <div class="grid-70">
      <p>
        {{rec.description}}

      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p ng-model='id'>

          <a ng-href="#/edit/{{rec._id}}"> <img src="images/edit.svg" height="12px" > Edit </a>

          <a class="no-action-link" ng-click="deleteRecipe($index)"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
